* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5vw;
    padding: 4% 0;
}

.f-size {
    font-size: 2vw;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* HEADER */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3%;
    width: 100%;
}

/* MAIN */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
}

/* CARD */
.card {
    width: 30%;
    height: 48%;
    border: 1px solid black;
    margin: 1%;
    background-color: lightgray;
}

.top-card {
    width: 100%;
    height: 80%;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}